body{
    background-color: aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
h1{
    color: rgb(95, 138, 160);
    background-color: aliceblue;
}
h2{
    color: rgba(34, 103, 103, 0.751);
}
p{
   text-align: justify; 
}
h2{
    color: #a8a8b0; color: #6d4343;
}